In [1]:
#Python Basics

In [2]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

In [3]:
print("Try Again!")

Try Again!

In [5]:
#This is a single line comment

In [7]:
"""
This is a multiline comment
"""

'\nThis is a multiline comment'

In [8]:
# Python Data Types
# Numerical Data: int, float(decimal)
# String: str, bool
# Dynamic Typing

In [9]:
age = 35
print(type(age))

<class 'int'>

In [10]:
roi = 149.98
print(type(roi))

<class 'float'>

In [15]:
# Dynamic Typing
var = 100
print(type(var))
var = 45.5
print(type(var))
var = "Sanaz"
print(type(var))
var  = True
print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [20]:
# Pyhton Strings - Alphanumerical values - We can use a combinition of single and double quotes for strings.

name = "Sanaz"
name = 'Sasha'
str = " The 'sun' rises in the East"
print(type(str))
print(str)

<class 'str'>
 The 'sun' rises in the East

In [21]:
# Rules of variables in Python
# You cannot name a variable a number or start with number.

In [25]:
# Operators in Pyhton
# Arithmetical Operators: +,-, /, // floor division which gives you only integer, *, %(remainder which gives you the remainder part of the division only), ** power
var = 100
print(var/3)
print(var//3) #floor div
print(var % 3)
print(5**3)

33.333333333333336
33
1
125

In [29]:
# Relational Operators or Conditional Operators: <,>,<=, >=, = assigning, == checking condition, !=
# used in conditions
age = 36
print(age>30)
print(age == 40)
print(age != 40)

True
False
True

In [33]:
# Assignement Operators: =,+=,-=
age = 36
age += 5
age -= 10
print(age)

31

In [35]:
# Logical Operators: and, or, not
age = 25
print(age>=18 and age<=40)
print(age>=18 or age<=40)

True
True

In [36]:
# Conditional /Flow control statements
# if, elif, else
# loops: while, for

In [39]:
# Check if the number is even or odd
num = 45
if num % 2 == 0:
    print("num is even.")
else: 
    print("num is odd.")

num is odd.

In [43]:
# Check if the character is vowel
char = input("Enter any character")
if char == 'a' or char == 'A':
    print("Character is vowel.")
elif char == 'e' or char =='E':
    print("Character is vowel.")
elif char == 'i' or char == 'I':
    print("Character is vowel.")
elif char == 'o' or char == 'O':
    print("Character is vowel.")
elif char == 'u' or char == 'U':
    print("Character is vowel.")
else: 
    print("Character is consonent.")

Enter any character G
Character is consonent.

In [48]:
# Nested Statements
# marks < 80 then B
# markes > 80 and marks <100 then A
# marks > 90 then A+
marks = int(input("Enter your mark:"))
if marks <= 80:
    print(" Your grade is B!")
elif marks > 80 and marks <= 100:
    if marks >= 90: # nested condition
        print("Your grade is A+!")
    else:
        print("You got A!")
elif marks > 100:
    print("Invalid Marks")

Enter your mark:300
Invalid Marks

In [52]:
# Type casting int(), float(), str()
# input() function by default returns a string data type
age = int(input("Enter your age:"))
print(age)
print(type(age))

Enter your age:36
36
<class 'int'>

In [56]:
# String formatting or interpolations
# Embeding a value inside a string collection
# Format() function
name = "Sanaz"
age = 25
print("Hi, {} your age is {}!".format(name,age)) #the order of the arguments is imporatnt.
print("Hi, {0} your age is {1}!".format(name,age))

Hi, Sanaz your age is 25!
Hi, Sanaz your age is 25!

In [57]:
# f-string
name = "Sanaz"
age = 25
print(f"Hi, {name} your age is {age}!")

Hi, Sanaz your age is 25!

In [59]:
# Module % f%
roi = 14.236597845
print("Rate of interest %.2f"%roi)

Rate of interest 14.24

In [61]:
var1 = 45
var2 = 63
print("var1 %d,var2%d",(var1,var2))

var1 %d,var2%d (45, 63)

In [62]:
# Iterative Statements (Loops): while, for

In [66]:
# range() function returns a sequence of given values within a range
# range(start, stop, step) start is always included but stop is never included. 
print(list(range(1,21)))
print(list(range(1,21,2)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
# print a table of given numbers with for loop
num = int(input("Enter any number:"))
for n in range(1,11):
    print(f"{num}*{n}={num*n}")
else: 
    print("Loop Ends")

Enter any number:3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
Loop Ends

In [72]:
# print a table of given numbers with while loop which uses a condition
num = int(input("Enter any number:"))
n = 1
while  n <= 10:
    print(f"{num}*{n}={num*n}")
    n+= 1
else:
    print("Loop Ends")

Enter any number:4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
Loop Ends

In [78]:
# Jump Statements: break, continue, pass. They terminate a loop.  
lst = [14, 26, 36, 98, 78, 45, 12, 33, 23, 21]
num = int(input("Enter a number to search in the list:"))
for item in lst:
    print(item)
    if item == num:
        print("Item found!")
        break
else:
    print("Item not found.")

Enter a number to search in the list:50
14
26
36
98
78
45
12
33
23
21
Item not found.

In [79]:
# By default it is continue so we don't really need to write it. Continue is used when we have duplicate values in the list.
lst = [14, 26, 36, 98, 78, 45, 12, 33, 23, 21, 33, 36]
num = int(input("Enter a number to search in the list:"))
for item in lst:
    print(item)
    if item == num:
        print("Item found!")
        continue 
else:
    print("Item not found.")

Enter a number to search in the list:78
14
26
36
98
78
Item found!
45
12
33
23
21
33
36
Item not found.