In [1]:
import pandas as pd

In [2]:
# Merging an joining two dataframes on a key.

Df1 = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1','sub2','sub4','sub5','sub6']
})

Df2 = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Billy', 'Brian', 'Bryce', 'Bran', 'Betty'],
    'subject_id': ['sub2','sub4','sub3','sub6','sub5']
})
print(Df1)
print(Df2)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub5
4   5  Ayoung       sub6
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3  Bryce       sub3
3   4   Bran       sub6
4   5  Betty       sub5

In [3]:
# Concatination ---> combining the two dataframes vertically
# To use concat function, the number of the columns must be the same in both dataframes.
df3 = pd.concat([Df1,Df2])
print(df3)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub5
4   5  Ayoung       sub6
0   1   Billy       sub2
1   2   Brian       sub4
2   3   Bryce       sub3
3   4    Bran       sub6
4   5   Betty       sub5

In [7]:
# Merging and joining two dataframes
import pandas as pd

left = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1','sub2','sub4','sub5','sub6']
})

right = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Billy', 'Brian', 'Bryce', 'Bran', 'Betty'],
    'subject_id': ['sub2','sub4','sub3','sub6','sub5']
})

print(left.to_string())
print(right.to_string())

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub5
4   5  Ayoung       sub6
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3  Bryce       sub3
3   4   Bran       sub6
4   5  Betty       sub5

In [8]:
# To merge two datafarmes we need at least one common column.
print(pd.merge(left, right,on='subject_id', how='inner'))

   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub5     5  Betty
3     5  Ayoung       sub6     4   Bran

In [15]:
# Merge Two DataFrames on Multiple keys

import pandas as pd

left = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1','sub2','sub4','sub5','sub6']
})

right = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Billy', 'Brian', 'Bryce', 'Bran', 'Betty'],
    'subject_id': ['sub2','sub4','sub3','sub6','sub5']
})

print(pd.merge(left,right,on=['id','subject_id'], how='inner'))

Empty DataFrame
Columns: [id, Name_x, subject_id, Name_y]
Index: []

In [19]:
# Left and Right joins

import pandas as pd

left = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1','sub2','sub4','sub5','sub6']
})

right = pd.DataFrame({
    'id': [1,2,3,4,5],
    'Name': ['Billy', 'Brian', 'Bryce', 'Bran', 'Betty'],
    'subject_id': ['sub2','sub4','sub3','sub6','sub5']
})

print(left)
print(right)


print(pd.merge(left, right,on='subject_id', how='outer')) # will return non-matching items along with matching ones.

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub5
4   5  Ayoung       sub6
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3  Bryce       sub3
3   4   Bran       sub6
4   5  Betty       sub5
   id_x  Name_x subject_id  id_y Name_y
0   1.0    Alex       sub1   NaN    NaN
1   2.0     Amy       sub2   1.0  Billy
2   3.0   Allen       sub4   2.0  Brian
3   4.0   Alice       sub5   5.0  Betty
4   5.0  Ayoung       sub6   4.0   Bran
5   NaN     NaN       sub3   3.0  Bryce
   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub5   5.0  Betty
4     5  Ayoung       sub6   4.0   Bran
   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   NaN     NaN       sub3     3  Bryce
3   5.0  Ayoung       sub6     4   Bran
4   4.0   Alice       sub5     5  Betty

In [20]:
print(pd.merge(left, right,on='subject_id', how='left'))

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub5   5.0  Betty
4     5  Ayoung       sub6   4.0   Bran

In [21]:
print(pd.merge(left, right,on='subject_id', how='right'))

   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   NaN     NaN       sub3     3  Bryce
3   5.0  Ayoung       sub6     4   Bran
4   4.0   Alice       sub5     5  Betty