In [ ]:
# Sequences or collection data types/built-in data structures
# Sequences: list, tuple, set, dictionary(dict)
# Ordered/ unordered(index) collection
# Mutable/immutable
# Duplicates allowed or not


# list[]: ordered(index), mutable,duplicates allowed 
# tuple(): ordered(index), immutable, duplicates allowed
# set{}: unordered, mutable, does NOT allow duplicates
# dict{}: {key:value}: unordered, keys are immutable, values are mutable

In [4]:
# Python List. List is not an array.Multiple data types are allowed in a list.
lst = [45,36,98,75, 45,12]
lst = ['zero', 1,2,3,6.5, "Sasha",[10,20,30]]
print(type(lst))
print(lst[0]) #index

<class 'list'>
3

In [5]:
print(lst)

['zero', 1, 2, 3, 6.5, 'Sasha', [10, 20, 30]]

In [6]:
# Updating/chaning the values in the list
lst[1]=100

In [7]:
print(lst)

['zero', 100, 2, 3, 6.5, 'Sasha', [10, 20, 30]]

In [8]:
# Iterate through the list
indx = 0
for item in lst:
    print(f"index:{indx}, item:{item}")
    indx+=1

index:0, item:zero
index:1, item:100
index:2, item:2
index:3, item:3
index:4, item:6.5
index:5, item:Sasha
index:6, item:[10, 20, 30]

In [9]:
print("Total items: ",len(lst))

Total items:  7

In [16]:
# Slicing [start:stop:step] stop is never included
lst = [15, 34, 56, 78, 98, 55, 32, 77, 43, 21]
print(lst[1:6])
print(lst[0:6:2])
print(lst[:4])
print(lst[-3]) #negative indexing

[34, 56, 78, 98, 55]
[15, 56, 98]
[15, 34, 56, 78]
77

In [13]:
# Reverse the entire list
print(lst[::-1])

[21, 43, 77, 32, 55, 98, 78, 56, 34, 15]

In [19]:
for i in lst:
    print(i)

15
34
56
78
98
55
32
77
43
21

In [24]:
# To get functions associated with list(object)
print(dir(lst))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

TypeError: 'builtin_function_or_method' object is not iterable

In [22]:
print(lst.insert.__doc__) #document

Insert object before index.

In [30]:
# Insert and delete functions
#Insert: append(), insert(), extend()

lst = [12,34,56,78,87,99,90]
# Append() will add a new item to the end of the list
lst.append(100) #takes only one item at a time
lst.extend([200,300,400]) # takes multiple items
lst.insert(3,60) # takes the index position and the item

print(lst)

[12, 34, 56, 60, 78, 87, 99, 90, 100, 200, 300, 400]

[12, 34, 56, 78, 87, 99, 90, 100]

In [31]:
# Delete items from a list: pop(), remove()

print(lst)

[12, 34, 56, 60, 78, 87, 99, 90, 100, 200, 300, 400]

In [35]:
lst.pop() #removes the last item in the list
lst.pop(3)
print(lst)

[12, 34, 56, 78, 87, 99, 90]

In [36]:
print(lst.index(78))

3

In [38]:
print(lst)
lst.remove(99)

[12, 34, 56, 78, 87, 99, 90]

In [39]:
print(lst)

[12, 34, 56, 78, 87, 90]

In [40]:
for i in lst:
    if i == 99:
        lst.remove(99)
print(lst)

[12, 34, 56, 78, 87, 90]

In [41]:
lst = [45,45, 26, 23, 89, 78, 45, 56, 200]
print(lst.count(45))

3

In [46]:
lst.sort() # by default is ascending
print(lst)
print(lst[::-1])

[23, 26, 45, 45, 45, 56, 78, 89, 200]
[200, 89, 78, 56, 45, 45, 45, 26, 23]

In [48]:
# Python Tuple
tup = (45,63,98,52,32,63,78,97)
print(type(tup))
print(tup[0]) #allows indexing

#tup[0] = 100
#print(tup)
# Tuples are immutable. We cannot change the items in tuple and there is nothing much we can do with them.

<class 'tuple'>
45

In [51]:
for i in dir(tup):
    print(i) #we can only do count and index() functions for tuples

__add__
__class__
__class_getitem__
__contains__
__delattr__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getnewargs__
__gt__
__hash__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__rmul__
__setattr__
__sizeof__
__str__
__subclasshook__
count
index

In [2]:
# Set{} good for unique set of items.Unordered in nature. No indexing.
st = {10,10,20,30,30,30,50,60}
print(type(st))
print(st) #unordered. No concept of indexing.

<class 'set'>
{50, 20, 10, 60, 30}

In [3]:
# Creating a set using set() function
set_a = set([78,34,56,79,25,25,67,87])
print(set_a)

{34, 67, 78, 79, 87, 56, 25}

In [6]:
# Operations on sets
set_a = {0,8,6,3,2,1,4,6,48,0,1}
set_b = {4,23,25,23,51,3}
print("Union of the two sets:", set_a.union(set_b)) #merging the two sets
print("The intersection of the two sets:", set_a.intersection(set_b))
print("Elements in a but not in set_b:",set_a-set_b)

Union of the two sets: {0, 1, 2, 3, 4, 6, 8, 48, 51, 23, 25}
The intersection of the two sets: {3, 4}
Elements in a but not in set_b: {0, 1, 2, 6, 8, 48}

In [11]:
# Adding new items in a set
print(set_a)
set_a.add(1001)
print(set_a) # we cannot choose the position of the new item. Unordered. 
set_a.update([55,66,77]) # adding multiple items to a set
print(set_a)

{0, 1, 2, 3, 4, 100, 6, 8, 1001, 48}
{0, 1, 2, 3, 4, 100, 6, 8, 1001, 48}
{0, 1, 2, 3, 4, 100, 6, 66, 8, 1001, 77, 48, 55}

In [14]:
for i in set_a:
    print(i)

0
1
2
3
4
100
6
66
8
1001
77
48
55

In [23]:
# Python Dictionaries {key:value}
# Key can be any datatype.

emp_data = {'name': 'Sasha', 'age': 25, 'rate':4.6, 'project':['p1','p2'],100:'abc'}
print(emp_data['age'])
print(emp_data['name'])
print(emp_data['project'])
print(emp_data[100])

25
Sasha
['p1', 'p2']
abc

In [35]:
emp = {'name': 'Ziggy', 'age': 20,'band':35, 'name':'Piggy'} # we cannot have duplicate keys in a dictionary. Values can be duplicate but not the keys.
print(emp)
# print(emp('name')) 
emp['age'] = 45
print(emp)

{'name': 'Piggy', 'age': 20, 'band': 35}
{'name': 'Piggy', 'age': 45, 'band': 35}

In [28]:
# Add a new key/value pair. There is no function to do this. We have to do it manually.
emp['city'] = 'San Francisco'
print(emp)

{'name': 'Piggy', 'age': 45, 'band': 35, 'city': 'San Francisco'}

In [30]:
emp['name'] = 'John'
print(emp) # will update the value for the name key

{'name': 'John', 'age': 45, 'band': 35, 'city': 'San Francisco'}

In [38]:
# Remove key value pair
# emp.pop('age')
print(emp)
print(emp.keys())
print(emp.values())

{'name': 'Piggy', 'band': 35}
dict_keys(['name', 'band'])
dict_values(['Piggy', 35])

In [ ]:
# dict.fromkeys() explore it yourself