In [1]:
#Python Basics

In [2]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

In [3]:
print("Try Again!")

Try Again!

In [5]:
#This is a single line comment

In [7]:
"""
This is a multiline comment
"""

'\nThis is a multiline comment'

In [8]:
# Python Data Types
# Numerical Data: int, float(decimal)
# String: str, bool
# Dynamic Typing

In [9]:
age = 35
print(type(age))

<class 'int'>

In [10]:
roi = 149.98
print(type(roi))

<class 'float'>

In [15]:
# Dynamic Typing
var = 100
print(type(var))
var = 45.5
print(type(var))
var = "Sanaz"
print(type(var))
var  = True
print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [20]:
# Pyhton Strings - Alphanumerical values - We can use a combinition of single and double quotes for strings.

name = "Sanaz"
name = 'Sasha'
str = " The 'sun' rises in the East"
print(type(str))
print(str)

<class 'str'>
 The 'sun' rises in the East

In [21]:
# Rules of variables in Python
# You cannot name a variable a number or start with number.

In [25]:
# Operators in Pyhton
# Arithmetical Operators: +,-, /, // floor division which gives you only integer, *, %(remainder which gives you the remainder part of the division only), ** power
var = 100
print(var/3)
print(var//3) #floor div
print(var % 3)
print(5**3)

33.333333333333336
33
1
125

In [29]:
# Relational Operators or Conditional Operators: <,>,<=, >=, = assigning, == checking condition, !=
# used in conditions
age = 36
print(age>30)
print(age == 40)
print(age != 40)

True
False
True

In [33]:
# Assignement Operators: =,+=,-=
age = 36
age += 5
age -= 10
print(age)

31

In [35]:
# Logical Operators: and, or, not
age = 25
print(age>=18 and age<=40)
print(age>=18 or age<=40)

True
True

In [36]:
# Conditional /Flow control statements
# if, elif, else
# loops: while, for

In [39]:
# Check if the number is even or odd
num = 45
if num % 2 == 0:
    print("num is even.")
else: 
    print("num is odd.")

num is odd.

In [43]:
# Check if the character is vowel
char = input("Enter any character")
if char == 'a' or char == 'A':
    print("Character is vowel.")
elif char == 'e' or char =='E':
    print("Character is vowel.")
elif char == 'i' or char == 'I':
    print("Character is vowel.")
elif char == 'o' or char == 'O':
    print("Character is vowel.")
elif char == 'u' or char == 'U':
    print("Character is vowel.")
else: 
    print("Character is consonent.")

Enter any character G
Character is consonent.

In [48]:
# Nested Statements
# marks < 80 then B
# markes > 80 and marks <100 then A
# marks > 90 then A+
marks = int(input("Enter your mark:"))
if marks <= 80:
    print(" Your grade is B!")
elif marks > 80 and marks <= 100:
    if marks >= 90: # nested condition
        print("Your grade is A+!")
    else:
        print("You got A!")
elif marks > 100:
    print("Invalid Marks")

Enter your mark:300
Invalid Marks

In [51]:
# Type casting int(), float(), str()
# input() function by default returns a string data type
age = int(input("Enter your age:"))
print(age)
print(type(age))

Enter your age:40
40
<class 'int'>

In [ ]:
# Loops